<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

  <display-name>Barton Lab RNA-Seq Analysis Tools</display-name>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <!-- DB object uses this parameter to create the datasource -->
  <context-param>
    <param-name>db.datasource</param-name>
    <param-value>java:comp/env/jdbc/JCMSDataSource</param-value>
  </context-param>

  <!-- points to a connection pool defined in context -->
  <resource-ref>
    <res-ref-name>jdbc/JCMSDataSource</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>

  <!-- points to GO database connection pool defined in context -->
  <resource-ref>
    <res-ref-name>jdbc/GODataSource</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>

  <!-- CSV output servlets -->

  <!-- CSV expression servlet -->
  <servlet>
    <servlet-name>CSVExpression</servlet-name>
    <servlet-class>edu.carnegiescience.dpb.bartonlab.CSVExpression</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CSVExpression</servlet-name>
    <url-pattern>/expressionCSV</url-pattern>
  </servlet-mapping>

  <!-- CSV correlation servlet -->
  <servlet>
    <servlet-name>CSVCorrelation</servlet-name>
    <servlet-class>edu.carnegiescience.dpb.bartonlab.CSVCorrelation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CSVCorrelation</servlet-name>
    <url-pattern>/correlationCSV</url-pattern>
  </servlet-mapping>

  <!-- CSV differential expression servlet -->
  <servlet>
    <servlet-name>CSVDifferentialExpression</servlet-name>
    <servlet-class>edu.carnegiescience.dpb.bartonlab.CSVDifferentialExpression</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CSVDifferentialExpression</servlet-name>
    <url-pattern>/differentialExpressionCSV</url-pattern>
  </servlet-mapping>

  <!-- CSV timewise differential expression servlet -->
  <servlet>
    <servlet-name>CSVTimewiseDifferentialExpression</servlet-name>
    <servlet-class>edu.carnegiescience.dpb.bartonlab.CSVTimewiseDifferentialExpression</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CSVTimewiseDifferentialExpression</servlet-name>
    <url-pattern>/timewiseDifferentialExpressionCSV</url-pattern>
  </servlet-mapping>

  <!-- TAB output servlets -->

  <!-- TAB expression servlet -->
  <servlet>
    <servlet-name>TABExpression</servlet-name>
    <servlet-class>edu.carnegiescience.dpb.bartonlab.TABExpression</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TABExpression</servlet-name>
    <url-pattern>/expressionTAB</url-pattern>
  </servlet-mapping>

  <!-- TAB correlation servlet -->
  <servlet>
    <servlet-name>TABCorrelation</servlet-name>
    <servlet-class>edu.carnegiescience.dpb.bartonlab.TABCorrelation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TABCorrelation</servlet-name>
    <url-pattern>/correlationTAB</url-pattern>
  </servlet-mapping>

  <!-- TAB differential expression servlet -->
  <servlet>
    <servlet-name>TABDifferentialExpression</servlet-name>
    <servlet-class>edu.carnegiescience.dpb.bartonlab.TABDifferentialExpression</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TABDifferentialExpression</servlet-name>
    <url-pattern>/differentialExpressionTAB</url-pattern>
  </servlet-mapping>

  <!-- TAB timewise differential expression servlet -->
  <servlet>
    <servlet-name>TABTimewiseDifferentialExpression</servlet-name>
    <servlet-class>edu.carnegiescience.dpb.bartonlab.TABTimewiseDifferentialExpression</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TABTimewiseDifferentialExpression</servlet-name>
    <url-pattern>/timewiseDifferentialExpressionTAB</url-pattern>
  </servlet-mapping>

  <!-- TAB ANOVA servlet -->
  <servlet>
    <servlet-name>TABANOVA</servlet-name>
    <servlet-class>edu.carnegiescience.dpb.bartonlab.TABANOVA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TABANOVA</servlet-name>
    <url-pattern>/anovaTAB</url-pattern>
  </servlet-mapping>

  <!-- R correlation matrix servlet -->
  <servlet>
    <servlet-name>RCorrelation</servlet-name>
    <servlet-class>edu.carnegiescience.dpb.bartonlab.RCorrelation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RCorrelation</servlet-name>
    <url-pattern>/correlationR</url-pattern>
  </servlet-mapping>

</web-app>
